/* src/index.css */
:root {
  --primary-color: #4F46E5; /* Indigo */
  --background-color: #F9FAFB;
  --text-color: #374151;
  --form-bg: #FFFFFF;
  --border-color: #D1D5DB;
  --error-color: #ee0808;
  --accent-color: #E43A12;
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: var(--body-font);
  background: linear-gradient(135deg, var(--primary-color), #6D28D9);
  color: var(--text-color);
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
